@model HRM.Entity.CompanyPolicy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompanyPolicy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PolicyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyPolicyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
