@model HRM.Entity.SupportingDocument

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SupportingDocument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupportingDocumentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupportingDocumentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupportingDocumentLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupportingDocumentLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveApplicationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveApplicationId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SupportingDocumentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
