@model HRM.Entity.HireThread

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HireThread</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireThreadStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireThreadStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireRequestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireRequestId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HireThreadId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
