@model IEnumerable<HRM.Entity.TemporaryCV>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CVLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntervieweeScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireThreadId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CVLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntervieweeScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HireThreadId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TemporaryCVId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TemporaryCVId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TemporaryCVId })
        </td>
    </tr>
}

</table>
