@model HRM.Entity.Bonuses

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bonuses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BonusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BonusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BonusValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BonusValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BonusDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BonusDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BonusesDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BonusesDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BonusesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
