@model IEnumerable<HRM.Entity.Interview>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Schedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireThreadId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HireThreadId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InterviewId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InterviewId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InterviewId })
        </td>
    </tr>
}

</table>
