@model HRM.Entity.Interviewee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Interviewee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InterviewId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterviewId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemporaryCVId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemporaryCVId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IntervieweeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
