@model HRM.Entity.Training

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Training</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuccessRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuccessRate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrainingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
