@model IEnumerable<HRM.Entity.LeaveApplication>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <b>Category</b>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDescription)
        </th>
        <th>
            <b>Duration</b>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndtDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applydate)
        </th>
        <th>
            <b>Status</b>
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveApplicationCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveApplicationDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndtDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applydate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationsStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LeaveApplicationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LeaveApplicationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LeaveApplicationId })
        </td>
        <td>
            @Html.ActionLink("Manage supporting documents", "Index", "SupportingDocuments", new { MainId = item.LeaveApplicationId }, null) 
        </td>
    </tr>
}

</table>
