@using HRM.Entity
@using HRM.Entity.Facade
@model IEnumerable<HRM.Entity.Facade.EmployeeIdNameDepartmentId>
@{
    ViewBag.Title = "AddToProject";
}

<h2>AddToProject</h2>
<h3>Project name: @ViewBag.ProjectTitle </h3>
<table>
    <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Action</th>
    </tr>

    @foreach (EmployeeIdNameDepartmentId emp in Model)
    {
        <tr>
            <td>@emp.EmployeeId</td>
            <td>@emp.EmployeeName</td>
            <td>
                @Html.ActionLink("Add To Project", "AddToProjectConfirmed", new { ProjectId = @ViewBag.ProjectId, EmployeeId = emp.EmployeeId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
