@model HRM.Entity.Facade.ProjectAndAllAssociatedEmployees
@using HRM.Entity.Facade
@{
    ViewBag.Title = "ShowProject";
}

<h1>@Html.DisplayFor(model=>model.ProjectTitle)</h1>
<h3>@Html.DisplayFor(model=>model.ProjectDescription)</h3>

<br />
<p>Employees involved: </p>
<table>
    <tr>
        <th>Employee Id   </th>
        <th>Employee Name </th>
        <th>Action        </th>
    </tr>
    
    @foreach (EmployeeIdAndName item in Model.ListOfEmployees)
    {
        <tr>
            <td>
                @item.EmployeeId
            </td>
            <td>
                @item.EmployeeName
            </td>
            <td>
                @Html.ActionLink("Remove employee from project", "RemoveFromProject", new { ProjectId = Model.ProjectId, EmployeeId = item.EmployeeId })
            </td>
        </tr>

    }
    @Html.ActionLink("Add employee to project", "AddToProject", new { ProjectId = Model.ProjectId })
</table>

