@using HRM.Entity;
@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Assign Bonus</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Showcomment').click(function () {

                //alert($(this).text());
                if ($(this).text() == "Show Comments") {
                    $('#commentsDiv').show();
                    $(this).text("Hide Comments");
                }
                else {
                    $('#commentsDiv').hide();
                    $(this).text("Show Comments");
                }
            });
        });

    </script>

</head>
<body>
    <div id="NoticeDetails" style="background-color:lightgray; width:700px">

        <b>@ViewBag.NoticeTitle</b><br />
        <b>@ViewBag.NoticeDate</b>
        <hr />
        <b>Details :</b> <br />
        <p>
            @ViewBag.NoticeDetails
        </p>
        <p style="color:blue">Seen By :  30</p>
        <input id="commentText" type="text" width="100" placeholder="Write a comment..." />
        <input id="commentSubmit" type="submit" value="Comment" />
    </div>

    <button type="button" class="btn" id="Showcomment">Show Comments</button>
    <div id="commentsDiv" hidden>
        @foreach (NoticeComment comment in ViewBag.Comments)
        {
            <hr/>
            <a><b>@comment.EmployeeName</b></a>
            <br/>@comment.Comment
        }
    </div>
</body>
</html>

<script>
    $("#commentSubmit").click(function () {
        var data = "noticeId=" + $("#noticeId").html() + "&comment=" + $("#commentText").val();
        alert(data);

        $.post("/Notices/SubmitComment", data);
    });
</script>
