@model HRM.Entity.EmployeePerformanceMetric

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeePerformanceMetric</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IllegalLeave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IllegalLeave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectMissedDateLineCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectMissedDateLineCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalProjects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalProjects)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageProjectScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageProjectScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalTraining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalTraining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageTrainingScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageTrainingScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeePerformanceMetricId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
