@model HRM.Entity.EmployeeAttendance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeAttendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendanceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendanceId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeAttendanceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
