@model IEnumerable<HRM.Entity.EmployeeSalary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaryMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BonusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BonusValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasicSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BonusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BonusValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeSalaryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeSalaryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeSalaryId })
        </td>
    </tr>
}

</table>
