<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*@Html.ActionLink("Attendance", "Index", "Attendances", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Attendance", "Index", "Attendances", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        @Html.ActionLink("Home", "Display", "Employees", new { area = "" }, new { @class = "navbar-brand" })
                        @*<a class="navbar-brand" href="/Home"></a>*@
                    </div>
                    <ul class="nav navbar-nav">
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Employee Management</a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Show employees", "Display", "Employees", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                                <li>
                                    @Html.ActionLink("Add employeee", "Create", "Employees", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Notice</a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("View notice", "Index", "Notices", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                                <li>
                                    @Html.ActionLink("Add notice", "Create", "Notices", new { area = "" }, new { @class = "navbar-brand" })
                                </li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Salary Payment</a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Salary management", "Index", "SalaryPayments", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Employee Evaluation</a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Employee Evaluation", "Index", "EmployeeEvaluations", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Equipments</a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Equipments management", "Index", "Equipments", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Reward program</a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Bonus management", "Index", "Bonuses", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Budget</a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Budget management", "Index", "Budgets", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Hire</a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Hiring management", "Index", "Hire", new { area = "" }, new { @class = "navbar-brand" })
                                    @Html.ActionLink("Hiring management", "ConfirmHires", "Hire", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Interview</a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Interview management", "Index", "Interviews", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Training</a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Training management", "Index", "Trainings", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Transportation</a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Transport management", "Index", "Transportations", new { area = "" }, new { @class = "navbar-brand" })
                                </li>
                            </ul>
                        </li>
                    </ul>

                    @*<ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="glyphicon glyphicon-user"></i> name
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="glyphicon glyphicon-user"></i> my profile</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/login"><i class="glyphicon glyphicon-log-out"></i> logout</a></li>
                            </ul>
                        </li>
                    </ul>*@
                </div>
            </nav>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Human resource management</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
